.organization-item {
    padding-bottom: 25px;
    padding-right: 10px;
}

.organization-item .card{
    border-radius: 12px;
}

.organization-item .card .ant-card-body{
    padding: 0;
}

.organization-item .card-title{
    padding-top: 10px;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

.organization-item .card .card-image{
    border-radius: 12px;
    height: 13vw;
}

.organization-item .card-description{
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: justify;
}

.slick-slider .slick-track, .slick-slider .slick-list{
    margin-left:0;
}


@media only screen and (max-width: 768px) {
    .organization-item .card .card-image{
        height: 20vw;
    }
}

@media only screen and (max-width: 450px) {
    .organization-item .card .card-image{
        height: 30vw;
    }
}

@media only screen and (max-width: 380px) {
    .organization-item .card .card-image{
        height: 40vw;
    }
}

@media only screen and (max-width: 320px) {
    .organization-item .card .card-image{
        height: 45vw;
    }
}