.organization-item-detail .banner{
    padding-top: 10px;
}

.organization-item-detail .banner .card-item{  
    height: 200px;
    width: auto;
    background: #39B0F3;
    border-radius: 12px;
    position: relative;
}

.organization-item-detail .description{  
    padding-top: 10px;
}