.organization-description{
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    width: 650px;
}

.organization-item .card{
    width: 750px;
    height: 280px;
    background-color: #C4C4C4;
    border-radius: 12px;
}